<h3>Manual fields</h3>

By default, all these fields are <em>automatic</em> for parent issues. Which means that they
cannot be changed directly and get updated when child issues are updated.
Here you can override that behavior for specific fields.

<table>
  <tbody>
    <% %w(priority_id done_ratio start_date due_date estimated_hours).each do |field| %>
      <tr>
        <th><%= field.humanize %></th>
        <td>
          <%= check_box_tag 'settings[%s]' % field, 1, settings[field] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h3>Spent time threshold</h3>

When enabled, will forbid changing versions for tickets with spent time greater than
the threshold.

<table>
  <tbody>
    <tr>
      <th>Enable</th>
      <td>
        <%= check_box_tag 'settings[spent_time_threshold_enabled]', 1, settings['spent_time_threshold_enabled'] %>
      </td>
    </tr>
    <tr>
      <th>Threshold</th>
      <td><input type="text" value="<%= settings['spent_time_threshold'] %>" name="settings[spent_time_threshold]"></td>
    </tr>
    <tr>
      <th>Activities</th>
      <td>
        <select multiple="multiple" name="settings[activities][]">
          <% TimeEntryActivity.all.each do |activity| %>
              <option
                value="<%= activity.id %>"
                <%= if (Setting.plugin_parent_ticket_fields['activities'] || []).include? activity.id.to_s then 'selected="selected"' else '' end %>
              >
                  <%= activity.name %>
              </option>
          <% end %>
        </select>
      </td>
    </tr>
  </tbody>
</table>
